body {
  font-family: 'Libre Baskerville', serif;
}

img {
  display: block;
  max-width: 100%;
}

p {
  line-height: 1.5;
  color: var(--highlight-color);
  font-size: 1.25rem;
}

button {
  font-family: var(--featured-font-family);
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 16px 32px;
  cursor: pointer;
}

h1, h2, h3 {
  font-family: var(--featured-font-family);
  font-size: 3rem;
  font-weight: 800;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 40px;
}

.container {
  max-width: 1200px;
  display: flex;
  margin: 0px 20px 80px 20px;
}